/**
 * MY CSS
 * buzhidao
 * 2015-12-09
 */

.ng-cloak {
    display: none;
}

/*base基础样式*/
.page-breadcrumbs {
    position: fixed; top: 0; right: 0; left: 0;
    z-index: 999;
}
.page-header.page-header-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 998;
}
.page-content {
    margin-left: 0px;
}

.form-horizontal .checkbox, .form-horizontal .radio {
    min-height: 27px;
    float: left;
    margin-right: 10px;
    width: 150px;
}

/**common通用样式**/
.m-b-3 {
	margin-bottom: 3px;
}
.m-b-5 {
    margin-bottom: 5px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-15 {
	margin-bottom: 15px;
}
.m-t-2 {
    margin-top: 2px;
}
.m-t-5 {
    margin-top: 5px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-130 {
	margin-top: 130px;
}
.m-t-150 {
	margin-top: 150px;
}
.m-l-5 {
    margin-left: 5px;
}
.m-l-10 {
    margin-left: 10px;
}
.m-r-5 {
    margin-right: 5px;
}
.m-r-10 {
    margin-right: 10px;
}

.oplinks {
    float: right;
    margin-top: 15px;
}